 
@font-face {
font-family:'archer bold';
src: url('archer_bold_pro.otf'); 
 }

@import url(https://fonts.googleapis.com/css?family=Rokkitt&display=swap);


.clearthefloat:after{
	content:"@";
	display:block;
	clear:both;

}

.center {text-align:center;

}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family:'Rokkitt', serif;
	color:#222222;
	line-height:1.5em;
	font-size:1em;
	

}

p {
	font-family:'Rockkitt',serif;
	margin-bottom:.5em;
}

h1, h2, nav a {
	font-family:'archer bold',serif;
	
	}

header {
	padding:20px; 
	display:flex;
	align-items:center;
	justify-content: space-between;
	
}

#logo_container {
	width:100%;
	max-width:180px;
	
}


h2 {
	font-size:2em;
}

#box h2 {
	background color:black;
	font-style: italic;
	color:#fff;
	display:inline;
	padding:0.5rem;
}


header nav a {
	color:#35b65b;
	font-style:italic;
	font-size:1.2em;
	letter-spacing:2px;
	padding: 0 10px;
	border:none;
	display:block;
	width:120px; 
	float:left;
	background-color:#0A4001;

}
nav a:hover {
	background-color:#6EBF34;
}

a {
	color:orange;
	font:;
	font-size:1em;
	letter-spacing:2px;
	padding:0 10px;
	text-decoration: none; 
}


#box { 
background-image:url(images/melon_salad.jpg);
background-size:cover;
background-position:center center;
height:56.25vw;
background-repeat:no-repeat;
margin:10px;

}

img {
     width: 100%;
}

#bio {
max-width:100em;
width:100%;
margin:0 auto;
padding:10px;


}

#bio figcaption {

	width:66.66%;
	float:left;
	padding:10px;
	background-color: lightblue;

}

	#bio figure {
		width:33.33%;
		float:left;
		background-color:red;



}
#services { 
max-width:50em;
width:100%;
margin:0 auto;
padding:10px;
background-color:pink;
font-family:'Rockkitt',serif;
font-size:1em;

 }

#services article {
	margin-bottom: 20px;
	border-bottom: 1px solid red;
	padding-bottom:10px;
	background-color:magenta;

}

#contact { 
max-width:50em;
width:100%;
margin:0 auto;
padding:10px;
background-color:pink;
font-family:"archer bold", serif;
font-size:1.1em;

}

#contact article {
	margin-bottom: 20px;
	border-bottom: 1px solid red;
	padding-bottom:10px;
	background-color:magenta;
}

ul,ol,{
	padding-left:40px;

}

h5	{font-style:italic;

}


footer {
	background-color:#A9D979;
	text-align:center;
	color: #2c5340;
	font-style:"Rockkitt";
	font-size 20px;
	width:cover;
}
 
.clearfix.after {
	display:block;
	content "";
	clear:both;
	
	font-size:0;
	visibility: hidden;
	height:0;


	}