@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

@import url("https://fonts.googleapis.com/css?family=Rokkitt&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family:'Rokkitt', serif;
	color:#222222;
	line-height:1.5em;
	font-size:16px;
}

.two-columns .column {
	width:50%;
	float:left;
	font-size:1em;
}

.three-columns .column{
	width: 32%;
	float:left;
	padding: 1em;
	margin: .25em .25em;
}


.four-columns .column {
	width:25%;
	float:left;
	padding:1em;

}

.clearthefloat:after{
	content:"";
	display:block;
	clear:both;

}


.center {text-align:center;

}

.container {
	width:100%;
	max-width:1024px;
	margin: 0 auto;
	padding:1em;

}

.container-mini {
	max-width:768px;

}

.container-mid {
	max-width: 968px;

}

p {
	font-family:'Rokkitt',serif;
	margin-bottom:.5em;
}

h1, h2, nav a {
	font-family:"Bree serif",serif;
	
	}

header {
	padding:1.5em; 
	display:flex;
	align-items:center;
	justify-content: space-between;
	
}

#logo_container {
	width:100%;
	max-width:180px;

}


h2 {
	font-size:2em;
}


h3 {
	font-size:1.5em;
}

header nav a {
	text-transform:uppercase;
	font-size:1.2em;
	letter-spacing:.33em;
	padding: 0 .5em;
	display:block;
	float:left;
	color:#0A4001;

}
header nav a:hover {
	color:#6EBF34;
}

nav .column:last-child {
	text-align:right;
} 

	.socialbutton	{
		display:block;
		width:1.5em;
		padding:0;

	}

	.socialbutton svg {
		display:block;
		width:100%;

	}
a {
	color:#0A4001;
	font-size:1em;
	letter-spacing:.25em;
	text-decoration: none; 
}


#box { 
background-image:url(images/melon_salad.jpg);
background-size:cover;
background-position:center center;
height:56.25vw;
background-repeat:no-repeat;
display:flex;
justify-content:flex-end;
align-items:flex-end;
position:relative;
}

#box:after {
	content: "";
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:black;
	opacity:0.25;
	z-index:1;
}

#box h2 {
	color:#fff;
	padding:1em;
	max-width:600px;
	line-height:1.15em;	
	width:100%;
	font-size:4em;
	position:relative;
	z-index: 2;
	}

img {
     width: 100%;
}

#bio {
width:100%;
background-color:#2DA657;
margin-top:.5em;

}


#bio .container figcaption {

	width:55%;
	float:left;
	padding:2em;
	background-color: #D9D3C1;
	


}

	#bio .container figure {
		width:45%;
		float:left;
		padding-right:2em;
		

}


#services { 
width:100%;
background-color:#A3D37A;

 }

#listofservices {
 	background-color:#DFEDD1;
 	padding:.5em;
 }

#listofservices .row figure {
	width:40%;
	display:flex;
	justify-content: center;
	align-items:center;
}

#listofservices .row figcaption {
	width:58%;
	display:block;
}

#listofservices .row figure img {
	width:200px;	
	display:block;
}

#listofservices .container .row:nth-child(even){
	display:flex;
	justify-content:space-between;
	align-items: center;

}

#listofservices  .container .row:nth-child(odd){
	display:flex;
	flex-direction:row-reverse;
	justify-content:space-between;
	align-items: center;

}


#contact { 
background-color:#2DA657;
width:100%;
}

#contact article {
	margin-bottom: 1em;
	border-bottom: .25em;
	padding-bottom:.5em;
	background-color:#DFEDD1;
}


#contact .container {
background-color:#DFEDD1;
margin:2em;
padding:2em;
}


#blog{
		background-color:#DFEDD1;

}


#blog h3 {
	font:bold;


}
footer {
	font-size:1.25em;

}

footer a {
display:block;

}

footer .column:last-child {
	text-align:right;

}

@media only screen and (max-width:945px) {
	header nav a {
		float:none;
		width:100%;
		display:block;
		font-size: 1em;
	}	

	header nav .socialbutton {
		display:inline-block;
		width: 30px;
	}

	#box h2 {
	font-size:3.8em;
	padding:.25em
	line-height:1.2em;
	}

	#logocontainer {
		max-width:120px;
		padding:.5em;
		
	}
	footer {
	font-size:1em;
	}

	h3	{
		font-size:1.2em;
	}
	p 	{
		font-size:.9em;
	}

}


@media (max-width: 400px) {
 header nav a {
  		float:none;
		width:100%;
		display:block;
		font-size: .8em;
   text-align: center;
  }

  header nav .socialbutton {
		display:inline-block;
		width: 24px;
	}

#box h2 {
	font-size:2em;
	}

#logocontainer {
		max-width:100px;
		padding:.25em;
		
	}
#box h2 {
	font-size:1.5em;
	padding:.25em;
}

#bio .container figcaption {

	width:85%;
	float:none;
	margin:.5em .5em;
	padding:1em;
	background-color: #D9D3C1;
	
}

	#bio .container figure {
		width:100%;
		float:none;
		padding:1.5em;

}

#listofservices .row figure {
	width:100%;
		float:none;
		padding:1.5em;
}
#listofservices .row figcaption {
	width:100%;
	float:none;
	margin:.5em .5em;
	padding:.5em;
}

#listofservices .row figure img {
	width:140px;
	padding:.5em;	
	display:block;
}

body {
	font-size:14px;
	line-height:1.2em;
}
footer {
	font-size: .7em;
	}


#contact article {
	margin-bottom: .5em;
	border-bottom: .25em;
	padding-bottom:.25em;
	
}


#contact .container {
margin:.5em;
padding:1em;
}


#blog .container {
	max-width:400px;
	float:none;
	justify-content: center;
	margin:.5em .5em;
	padding: 1em;

	}	
}